@model Yttran.ViewModels.HomeViewModels
<footer id="footer" class="footer-wrapper col-9">

    <section class="section sec_top_footer dark has-parallax" id="section_202659188">
        <div class="bg section-bg fill bg-fill parallax-active" data-parallax-container=".section" data-parallax-background="" data-parallax="-7" style="height: 544px;">


            <div class="section-bg-overlay absolute fill"></div>


        </div><!-- .section-bg -->

        <div class="section-content relative">


            <div class="gap-element clearfix" style="display:block; height:auto; padding-top:50px"></div>

            <div class="row" id="row-192500271" style="max-width:fit-content">

                <div class="col medium-3 small-12 large-3" data-animate="fadeInDown">
                    <div class="col-inner">

                        <p class="phone"><span>Số điện thoại:</span><br> <a href="tel:@Model.Contacts[0].Phonenumber">@Model.Contacts[0].Phonenumber</a></p>

                    </div>
                </div>
                <div class="col medium-8 small-12 large-5" data-animate="fadeInDown">
                    <div class="col-inner">

                        <p class="address"><span>Văn phòng chính:</span><br> @Model.Contacts[0].Address</p>

                    </div>
                </div>
                <div class="col medium-5 small-12 large-4" data-animate="fadeInDown">
                    <div class="col-inner">

                        <p class="email"><span>Email:</span><br> <a href="@Model.Contacts[0].Email">@Model.Contacts[0].Email</a></p>

                    </div>
                </div>

            </div>

        </div><!-- .section-content -->


        <style scope="scope">

            #section_202659188 {
                padding-top: 0px;
                padding-bottom: 0px;
            }

                #section_202659188 .section-bg-overlay {
                    background-color: rgba(7, 31, 55, 0.85);
                }

                #section_202659188 .section-bg.bg-loaded {
                    background-image: url(/User/Images/business-proposal-3-correct-compressor.jpg);
                }
        </style>
    </section>

    <section class="section sec_footer dark" id="section_1840756659">
        <div class="bg section-bg fill bg-fill  bg-loaded">





        </div><!-- .section-bg -->
        <!-- .section-content -->


        <style scope="scope">

            #section_1840756659 {
                padding-top: 30px;
                padding-bottom: 30px;
                background-color: rgb(7, 31, 55);
            }
        </style>
    </section>

    <!-- .absolute-footer -->
    <a href="#" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle" id="top-link"><i class="icon-angle-up"></i></a>

</footer>