@model IEnumerable<Yttran.Models.Account>

@{
    Layout = null;
}


<!DOCTYPE html>
<!-- saved from url=(0048)https://colorlib.com/etc/lf/Login_v10/index.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login V10</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="https://colorlib.com/etc/lf/Login_v10/images/icons/favicon.ico">

    <link rel="stylesheet" type="text/css" href="~/LoginForm/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/LoginForm/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/LoginForm/css/icon-font.min.css">

    <link rel="stylesheet" type="text/css" href="~/LoginForm/css/animate.css">

    <link rel="stylesheet" type="text/css" href="~/LoginForm/css/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="~/LoginForm/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="~/LoginForm/css/select2.min.css">

    <link rel="stylesheet" type="text/css" href="~/LoginForm/css/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="~/LoginForm/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginForm/css/main.css">

    <meta name="robots" content="noindex, follow">
    <script type="text/javascript" async="" src="./LoginForm/script/analytics.js" nonce="a1306e82-5749-475b-b0cb-71b71033b5e7"></script>
    <script defer="" referrerpolicy="origin" src="./LoginForm/script/s.js"></script>
    <script nonce="a1306e82-5749-475b-b0cb-71b71033b5e7">(function (w, d) { !function (a, e, t, r) { a.zarazData = a.zarazData || {}, a.zarazData.executed = [], a.zaraz = { deferred: [] }, a.zaraz.q = [], a.zaraz._f = function (e) { return function () { var t = Array.prototype.slice.call(arguments); a.zaraz.q.push({ m: e, a: t }) } }; for (const e of ["track", "set", "ecommerce", "debug"]) a.zaraz[e] = a.zaraz._f(e); a.zaraz.init = () => { var t = e.getElementsByTagName(r)[0], z = e.createElement(r), n = e.getElementsByTagName("title")[0]; for (n && (a.zarazData.t = e.getElementsByTagName("title")[0].text), a.zarazData.x = Math.random(), a.zarazData.w = a.screen.width, a.zarazData.h = a.screen.height, a.zarazData.j = a.innerHeight, a.zarazData.e = a.innerWidth, a.zarazData.l = a.location.href, a.zarazData.r = e.referrer, a.zarazData.k = a.screen.colorDepth, a.zarazData.n = e.characterSet, a.zarazData.o = (new Date).getTimezoneOffset(), a.zarazData.q = []; a.zaraz.q.length;) { const e = a.zaraz.q.shift(); a.zarazData.q.push(e) } z.defer = !0; for (const e of [localStorage, sessionStorage]) Object.keys(e || {}).filter((a => a.startsWith("_zaraz_"))).forEach((t => { try { a.zarazData["z_" + t.slice(7)] = JSON.parse(e.getItem(t)) } catch { a.zarazData["z_" + t.slice(7)] = e.getItem(t) } })); z.referrerPolicy = "origin", z.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData))), t.parentNode.insertBefore(z, t) }, ["complete", "interactive"].includes(e.readyState) ? zaraz.init() : a.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, 0, "script"); })(window, document);</script>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w" action="Login" method="post">
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title p-b-51">
                        Login
                    </span>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        @*<div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>*@
                        @*<div>
                            <a href="https://colorlib.com/etc/lf/Login_v10/index.html#" class="txt1">
                                Forgot?
                            </a>
                        </div>*@
                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        @*<button class="login100-form-btn">
                            Login
                        </button>*@
                        <input class="login100-form-btn" type="submit" value="Login"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>

    <script src="./LoginForm/script/jquery-3.2.1.min.js"></script>

    <script src="./LoginForm/script/animsition.min.js"></script>

    <script src="./LoginForm/script/popper.js"></script>
    <script src="./LoginForm/script/bootstrap.min.js"></script>

    <script src="./LoginForm/script/select2.min.js"></script>

    <script src="./LoginForm/script/moment.min.js"></script>
    <script src="./LoginForm/script/daterangepicker.js"></script>

    <script src="./LoginForm/script/countdowntime.js"></script>

    <script src="./LoginForm/script/main.js"></script>

    <script async="" src="./LoginForm/script/js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer="" src="./LoginForm/script/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon="{&quot;rayId&quot;:&quot;7259952f5fc2c6d4&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2022.6.0&quot;,&quot;si&quot;:100}" crossorigin="anonymous"></script>


</body>
</html>