<!DOCTYPE html>
<head lang="vi" class="js wf-roboto-n4-active wf-roboto-n7-active wf-dancingscript-n4-active wf-active">
    <!--<![endif]-->
    <!-- <head> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">



    <script src="~/User/Js/zxcvbn-async.min.js" type="text/javascript" async=""></script>
    <script src="~/User/Js/sdk.js" async="" crossorigin="anonymous"></script>
    <script id="facebook-jssdk" src="~/User/Js/sdk(1).js"></script>
    <script src="~/User/Js/webfont.js" type="text/javascript" async=""></script>
    <script>(function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>

    <title>@ViewData["Title"] - Yttran</title>
    <link rel="dns-prefetch" href="http://cdn.jsdelivr.net/">
    <link rel="dns-prefetch" href="http://s.w.org/">

    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/mauweb.monamedia.net\/yttran\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.15" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <!-- <script src="./YTTran_files/wp-emoji-release.min.js.download" type="text/javascript" defer=""></script> -->
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="dashicons-css" href="~/User/Yttrancss/dashicons.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="menu-icons-extra-css" href="~/User/Yttrancss/extra.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="hrw-css" href="~/User/Yttrancss/css.css" type="text/css" media="">
    <link rel="stylesheet" id="contact-form-7-css" href="~/User/Yttrancss/styles.css" type="text/css" media="all">
    <link rel="stylesheet" id="fb-messenger-style-css" href="~/User/Yttrancss/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="ot-vertical-menu-css" href="./YTTran_files/ot-vertical-menu.css" type="text/css" media="all">
    <style id="woocommerce-inline-inline-css" type="text/css">
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel="stylesheet" id="flatsome-icons-css" href="~/User/Yttrancss/fl-icons.css" type="text/css" media="all">
    <link rel="stylesheet" id="easy-social-share-buttons-css" href="~/User/Yttrancss/easy-social-share-buttons.css" type="text/css" media="all">
    <link rel="stylesheet" id="essb-cct-style-css" href="~/User/Yttrancss/styles(1).css" type="text/css" media="all">
    <link rel="stylesheet" id="bfa-font-awesome-css" href="~/User/Yttrancss/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="flatsome-main-css" href="~/User/Yttrancss/flatsome.css" type="text/css" media="all">
    <link rel="stylesheet" id="flatsome-shop-css" href="~/User/Yttrancss/flatsome-shop.css" type="text/css" media="all">
    <link rel="stylesheet" id="flatsome-style-css" href="~/User/Yttrancss/style(1).css" type="text/css" media="all">
    <script type="text/javascript" src="~/User/Js/jquery.js"></script>
    <script type="text/javascript" src="~/User/Js/jquery-migrate.min.js"></script>

    <meta name="generator" content="WordPress 4.9.15">
    <meta name="generator" content="WooCommerce 3.5.1">
    <script src="https://kit.fontawesome.com/48030cbaf5.js" crossorigin="anonymous"></script>
    <style>
        .mypage-alo-ph-circle {
            border-color: #cc9a00;
        }

        .mypage-alo-ph-circle-fill {
            background-color: #cc9a00;
        }

        .mypage-alo-ph-img-circle {
            background-color: #cc9a00;
        }

        .mypage-alo-phone:hover .mypage-alo-ph-circle {
            border-color: #43b91e;
        }

        .mypage-alo-phone:hover .mypage-alo-ph-circle-fill {
            background-color: #43b91e;
        }

        .mypage-alo-phone:hover .mypage-alo-ph-img-circle {
            background-color: #43b91e;
        }
    </style>
    <style>
        .bg {
            opacity: 0;
            transition: opacity 1s;
            -webkit-transition: opacity 1s;
        }

        .bg-loaded {
            opacity: 1;
        }
    </style><!--[if IE]><link rel="stylesheet" type="text/css" href="http://mauweb.monamedia.net/yttran/wp-content/themes/flatsome/assets/css/ie-fallback.css"><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script><script>var head = document.getElementsByTagName('head')[0],style = document.createElement('style');style.type = 'text/css';style.styleSheet.cssText = ':before,:after{content:none !important';head.appendChild(style);setTimeout(function(){head.removeChild(style);}, 0);</script><script src="http://mauweb.monamedia.net/yttran/wp-content/themes/flatsome/assets/libs/ie-flexibility.js"></script><![endif]-->
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ["Roboto:regular,700", "Roboto:regular,regular", "Roboto:regular,700", "Dancing+Script",] }
        };
        (function () {
            var wf = document.createElement('script');
            //   wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();</script>
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <style type="text/css">
        .essb_links_list li.essb_totalcount_item .essb_t_l_big .essb_t_nb:after, .essb_links_list li.essb_totalcount_item .essb_t_r_big .essb_t_nb:after {
            color: #777777;
            content: "shares";
            display: block;
            font-size: 11px;
            font-weight: normal;
            text-align: center;
            text-transform: uppercase;
            margin-top: -5px;
        }

        .essb_links_list li.essb_totalcount_item .essb_t_l_big, .essb_links_list li.essb_totalcount_item .essb_t_r_big {
            text-align: center;
        }

        .essb_displayed_sidebar .essb_links_list li.essb_totalcount_item .essb_t_l_big .essb_t_nb:after, .essb_displayed_sidebar .essb_links_list li.essb_totalcount_item .essb_t_r_big .essb_t_nb:after {
            margin-top: 0px;
        }

        .essb_displayed_sidebar_right .essb_links_list li.essb_totalcount_item .essb_t_l_big .essb_t_nb:after, .essb_displayed_sidebar_right .essb_links_list li.essb_totalcount_item .essb_t_r_big .essb_t_nb:after {
            margin-top: 0px;
        }

        .essb_totalcount_item_before, .essb_totalcount_item_after {
            display: block !important;
        }

            .essb_totalcount_item_before .essb_totalcount, .essb_totalcount_item_after .essb_totalcount {
                border: 0px !important;
            }

        .essb_counter_insidebeforename {
            margin-right: 5px;
            font-weight: bold;
        }

        .essb_width_columns_1 li {
            width: 100%;
        }

            .essb_width_columns_1 li a {
                width: 92%;
            }

        .essb_width_columns_2 li {
            width: 49%;
        }

            .essb_width_columns_2 li a {
                width: 86%;
            }

        .essb_width_columns_3 li {
            width: 32%;
        }

            .essb_width_columns_3 li a {
                width: 80%;
            }

        .essb_width_columns_4 li {
            width: 24%;
        }

            .essb_width_columns_4 li a {
                width: 70%;
            }

        .essb_width_columns_5 li {
            width: 19.5%;
        }

            .essb_width_columns_5 li a {
                width: 60%;
            }

        .essb_width_columns_6 li {
            width: 16%;
        }

            .essb_width_columns_6 li a {
                width: 55%;
            }

        .essb_links li.essb_totalcount_item_before, .essb_width_columns_1 li.essb_totalcount_item_after {
            width: 100%;
            text-align: left;
        }

        .essb_network_align_center a {
            text-align: center;
        }

        .essb_network_align_right .essb_network_name {
            float: right;
        }
    </style>
    <script type="text/javascript">
        //var essb_settings = { "ajax_url": "http:\/\/mauweb.monamedia.net\/yttran\/wp-admin\/admin-ajax.php", "essb3_nonce": "7b7ba33010", "essb3_plugin_url": "http:\/\/mauweb.monamedia.net\/yttran\/wp-content\/plugins\/easy-social-share-buttons3", "essb3_facebook_total": true, "essb3_admin_ajax": false, "essb3_internal_counter": false, "essb3_stats": false, "essb3_ga": false, "essb3_ga_mode": "simple", "essb3_counter_button_min": 0, "essb3_counter_total_min": 0, "blog_url": "http:\/\/mauweb.monamedia.net\/yttran\/", "ajax_type": "wp", "essb3_postfloat_stay": false, "essb3_no_counter_mailprint": false, "essb3_single_ajax": false, "twitter_counter": "self", "post_id": 16 };
    </script>
    <link rel="stylesheet" href="./YTTran_files/css" media="all">
    <style id="custom-css" type="text/css">
        :root {
            --primary-color: #0070a8;
        }

        .full-width .ubermenu-nav, .container, .row {
            max-width: 1230px
        }

            .row.row-collapse {
                max-width: 1200px
            }

            .row.row-small {
                max-width: 1222.5px
            }

            .row.row-large {
                max-width: 1260px
            }

        body.framed, body.framed header, body.framed .header-wrapper, body.boxed, body.boxed header, body.boxed .header-wrapper, body.boxed .is-sticky-section {
            max-width: 1260px
        }

        .header-main {
            height: 100px
        }

        #logo img {
            max-height: 100px
        }

        #logo {
            width: 250px;
        }

        .header-bottom {
            min-height: 60px
        }

        .header-top {
            min-height: 50px
        }

        .has-transparent + .page-title:first-of-type, .has-transparent + #main > .page-title, .has-transparent + #main > div > .page-title, .has-transparent + #main .page-header-wrapper:first-of-type .page-title {
            padding-top: 150px;
        }

        .header.show-on-scroll, .stuck .header-main {
            height: 70px !important
        }

        .stuck #logo img {
            max-height: 70px !important
        }

        .header-bottom {
            background-color: #0070a8
        }

        .header-bottom-nav > li > a {
            line-height: 16px
        }

        @@media (max-width: 549px) {
            .header-main {
                height: 70px
            }

            #logo img {
                max-height: 70px
            }
        }

        .nav-dropdown {
            border-radius: 3px
        }

        .nav-dropdown {
            font-size: 100%
        }

        .header-top {
            background-color: rgba(255,255,255,0.9) !important;
        }
        /* Color */

        .accordion-title.active, .has-icon-bg .icon .icon-inner, .logo a, .primary.is-underline, .primary.is-link, .badge-outline .badge-inner, .nav-outline > li.active > a, .nav-outline > li.active > a, .cart-icon strong, [data-color='primary'], .is-outline.primary {
            color: #0070a8;
        }
        /* Color !important */

        [data-text-color="primary"] {
            color: #0070a8 !important;
        }
        /* Background Color */

        [data-text-bg="primary"] {
            background-color: #0070a8;
        }
        /* Background */

        .scroll-to-bullets a, .featured-title, .label-new.menu-item > a:after, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, button[type="submit"], .button.wc-forward:not(.checkout):not(.checkout-button), .button.submit-button, .button.primary:not(.is-outline), .featured-table .title, .is-outline:hover, .has-icon:hover .icon-label, .nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .is-outline:hover, .tagcloud a:hover, .grid-tools a, input[type='submit']:not(.is-form), .box-badge:hover .box-text, input.button.alt, .nav-box > li > a:hover, .nav-box > li.active > a, .nav-pills > li.active > a, .current-dropdown .cart-icon strong, .cart-icon:hover strong, .nav-line-bottom > li > a:before, .nav-line-grow > li > a:before, .nav-line > li > a:before, .banner, .header-top, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover, .button.primary:not(.is-outline), input[type='submit'].primary, input[type='submit'].primary, input[type='reset'].button, input[type='button'].primary, .badge-inner {
            background-color: #0070a8;
        }
            /* Border */

            .nav-vertical.nav-tabs > li.active > a, .scroll-to-bullets a.active, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, .accordion-title.active, .featured-table, .is-outline:hover, .tagcloud a:hover, blockquote, .has-border, .cart-icon strong:after, .cart-icon strong, .blockUI:before, .processing:before, .loading-spin, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover {
                border-color: #0070a8
            }

        .nav-tabs > li.active > a {
            border-top-color: #0070a8
        }

        .widget_shopping_cart_content .blockUI.blockOverlay:before {
            border-left-color: #0070a8
        }

        .woocommerce-checkout-review-order .blockUI.blockOverlay:before {
            border-left-color: #0070a8
        }
        /* Fill */

        .slider .flickity-prev-next-button:hover svg, .slider .flickity-prev-next-button:hover .arrow {
            fill: #0070a8;
        }

        @@media screen and (max-width: 549px) {
            body {
                font-size: 100%;
            }
        }

        body {
            font-family: "Roboto", sans-serif
        }

        body {
            font-weight: 0
        }

        body {
            color: #353535
        }

        .nav > li > a {
            font-family: "Roboto", sans-serif;
        }

        .nav > li > a {
            font-weight: 700;
        }

        h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a {
            font-family: "Roboto", sans-serif;
        }

        h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
            font-weight: 700;
        }

        h1, h2, h3, h4, h5, h6, .heading-font {
            color: #1c1c1c;
        }

        .alt-font {
            font-family: "Dancing Script", sans-serif;
        }

        .header:not(.transparent) .header-bottom-nav.nav > li > a {
            color: #ffffff;
        }

            .header:not(.transparent) .header-bottom-nav.nav > li > a:hover, .header:not(.transparent) .header-bottom-nav.nav > li.active > a, .header:not(.transparent) .header-bottom-nav.nav > li.current > a, .header:not(.transparent) .header-bottom-nav.nav > li > a.active, .header:not(.transparent) .header-bottom-nav.nav > li > a.current {
                color: #0070a8;
            }

        .header-bottom-nav.nav-line-bottom > li > a:before, .header-bottom-nav.nav-line-grow > li > a:before, .header-bottom-nav.nav-line > li > a:before, .header-bottom-nav.nav-box > li > a:hover, .header-bottom-nav.nav-box > li.active > a, .header-bottom-nav.nav-pills > li > a:hover, .header-bottom-nav.nav-pills > li.active > a {
            color: #FFF !important;
            background-color: #0070a8;
        }

        @@media screen and (min-width: 550px) {
            .products .box-vertical .box-image {
                min-width: 300px !important;
                width: 300px !important;
            }
        }

        .footer-2 {
            background-color: #777777
        }

        .absolute-footer, html {
            background-color: #000000
        }

        .label-new.menu-item > a:after {
            content: "New";
        }

        .label-hot.menu-item > a:after {
            content: "Hot";
        }

        .label-sale.menu-item > a:after {
            content: "Sale";
        }

        .label-popular.menu-item > a:after {
            content: "Popular";
        }
    </style>
    <style type="text/css" data-fbcssmodules="css:fb.css.base css:fb.css.dialog css:fb.css.iframewidget css:fb.css.customer_chat_plugin_iframe">
        .fb_hidden {
            position: absolute;
            top: -10000px;
            z-index: 10001
        }

        .fb_reposition {
            overflow: hidden;
            position: relative
        }

        .fb_invisible {
            display: none
        }

        .fb_reset {
            background: none;
            border: 0;
            border-spacing: 0;
            color: #000;
            cursor: auto;
            direction: ltr;
            font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            margin: 0;
            overflow: visible;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-spacing: normal
        }

            .fb_reset > div {
                overflow: hidden
            }

        @@keyframes fb_transform {
            from {
                opacity: 0;
                transform: scale(.95)
            }

            to {
                opacity: 1;
                transform: scale(1)
            }
        }

        .fb_animate {
            animation: fb_transform .3s forwards
        }

        .fb_dialog {
            background: rgba(82, 82, 82, .7);
            position: absolute;
            top: -10000px;
            z-index: 10001
        }

        .fb_dialog_advanced {
            border-radius: 8px;
            padding: 10px
        }

        .fb_dialog_content {
            background: #fff;
            color: #373737
        }

        .fb_dialog_close_icon {
            background: url(/User/Images/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
            cursor: pointer;
            display: block;
            height: 15px;
            position: absolute;
            right: 18px;
            top: 17px;
            width: 15px
        }

        .fb_dialog_mobile .fb_dialog_close_icon {
            left: 5px;
            right: auto;
            top: 5px
        }

        .fb_dialog_padding {
            background-color: transparent;
            position: absolute;
            width: 1px;
            z-index: -1
        }

        .fb_dialog_close_icon:hover {
            background: url(/User/Images/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
        }

        .fb_dialog_close_icon:active {
            background: url(/User/Images/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
        }

        .fb_dialog_iframe {
            line-height: 0
        }

        .fb_dialog_content .dialog_title {
            background: #6d84b4;
            border: 1px solid #365899;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin: 0
        }

            .fb_dialog_content .dialog_title > span {
                background: url(/User/Images/Cou7n-nqK52.gif) no-repeat 5px 50%;
                float: left;
                padding: 5px 0 7px 26px
            }

        body.fb_hidden {
            height: 100%;
            left: 0;
            margin: 0;
            overflow: visible;
            position: absolute;
            top: -10000px;
            transform: none;
            width: 100%
        }

        .fb_dialog.fb_dialog_mobile.loading {
            background: url(/User/Images/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 10001
        }

            .fb_dialog.fb_dialog_mobile.loading.centered {
                background: none;
                height: auto;
                min-height: initial;
                min-width: initial;
                width: auto
            }

                .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
                    width: 100%
                }

                .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
                    background: none
                }

        .loading.centered #fb_dialog_loader_close {
            clear: both;
            color: #fff;
            display: block;
            font-size: 18px;
            padding-top: 20px
        }

        #fb-root #fb_dialog_ipad_overlay {
            background: rgba(0, 0, 0, .4);
            bottom: 0;
            left: 0;
            min-height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 10000
        }

            #fb-root #fb_dialog_ipad_overlay.hidden {
                display: none
            }

        .fb_dialog.fb_dialog_mobile.loading iframe {
            visibility: hidden
        }

        .fb_dialog_mobile .fb_dialog_iframe {
            position: sticky;
            top: 0
        }

        .fb_dialog_content .dialog_header {
            background: linear-gradient(from(#738aba), to(#2c4987));
            border-bottom: 1px solid;
            border-color: #043b87;
            box-shadow: white 0 1px 1px -1px inset;
            color: #fff;
            font: bold 14px Helvetica, sans-serif;
            text-overflow: ellipsis;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
            vertical-align: middle;
            white-space: nowrap
        }

            .fb_dialog_content .dialog_header table {
                height: 43px;
                width: 100%
            }

            .fb_dialog_content .dialog_header td.header_left {
                font-size: 12px;
                padding-left: 5px;
                vertical-align: middle;
                width: 60px
            }

            .fb_dialog_content .dialog_header td.header_right {
                font-size: 12px;
                padding-right: 5px;
                vertical-align: middle;
                width: 60px
            }

        .fb_dialog_content .touchable_button {
            background: linear-gradient(from(#4267B2), to(#2a4887));
            background-clip: padding-box;
            border: 1px solid #29487d;
            border-radius: 3px;
            display: inline-block;
            line-height: 18px;
            margin-top: 3px;
            max-width: 85px;
            padding: 4px 12px;
            position: relative
        }

        .fb_dialog_content .dialog_header .touchable_button input {
            background: none;
            border: none;
            color: #fff;
            font: bold 12px Helvetica, sans-serif;
            margin: 2px -12px;
            padding: 2px 6px 3px 6px;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
        }

        .fb_dialog_content .dialog_header .header_center {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            text-align: center;
            vertical-align: middle
        }

        .fb_dialog_content .dialog_content {
            background: url(/User/Images/jKEcVPZFk-2.gif) no-repeat 50% 50%;
            border: 1px solid #4a4a4a;
            border-bottom: 0;
            border-top: 0;
            height: 150px
        }

        .fb_dialog_content .dialog_footer {
            background: #f5f6f7;
            border: 1px solid #4a4a4a;
            border-top-color: #ccc;
            height: 40px
        }

        #fb_dialog_loader_close {
            float: left
        }

        .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
            visibility: hidden
        }

        #fb_dialog_loader_spinner {
            animation: rotateSpinner 1.2s linear infinite;
            background-color: transparent;
            background-image: url(/User/Images/t-wz8gw1xG1.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px
        }

        @@keyframes rotateSpinner {
            0% {
                transform: rotate(0deg)
            }

            100% {
                transform: rotate(360deg)
            }
        }

        .fb_iframe_widget {
            display: inline-block;
            position: relative
        }

            .fb_iframe_widget span {
                display: inline-block;
                position: relative;
                text-align: justify
            }

            .fb_iframe_widget iframe {
                position: absolute
            }

        .fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
            max-width: 100%
        }

            .fb_iframe_widget_fluid_desktop iframe {
                min-width: 220px;
                position: relative
            }

        .fb_iframe_widget_lift {
            z-index: 1
        }

        .fb_iframe_widget_fluid {
            display: inline
        }

            .fb_iframe_widget_fluid span {
                width: 100%
            }

        .fb_mpn_mobile_landing_page_slide_out {
            animation-duration: 200ms;
            animation-name: fb_mpn_landing_page_slide_out;
            transition-timing-function: ease-in
        }

        .fb_mpn_mobile_landing_page_slide_out_from_left {
            animation-duration: 200ms;
            animation-name: fb_mpn_landing_page_slide_out_from_left;
            transition-timing-function: ease-in
        }

        .fb_mpn_mobile_landing_page_slide_up {
            animation-duration: 500ms;
            animation-name: fb_mpn_landing_page_slide_up;
            transition-timing-function: ease-in
        }

        .fb_mpn_mobile_bounce_in {
            animation-duration: 300ms;
            animation-name: fb_mpn_bounce_in;
            transition-timing-function: ease-in
        }

        .fb_mpn_mobile_bounce_out {
            animation-duration: 300ms;
            animation-name: fb_mpn_bounce_out;
            transition-timing-function: ease-in
        }

        .fb_mpn_mobile_bounce_out_v2 {
            animation-duration: 300ms;
            animation-name: fb_mpn_fade_out;
            transition-timing-function: ease-in
        }

        .fb_customer_chat_bounce_in_v2 {
            animation-duration: 300ms;
            animation-name: fb_bounce_in_v2;
            transition-timing-function: ease-in
        }

        .fb_customer_chat_bounce_in_from_left {
            animation-duration: 300ms;
            animation-name: fb_bounce_in_from_left;
            transition-timing-function: ease-in
        }

        .fb_customer_chat_bounce_out_v2 {
            animation-duration: 300ms;
            animation-name: fb_bounce_out_v2;
            transition-timing-function: ease-in
        }

        .fb_customer_chat_bounce_out_from_left {
            animation-duration: 300ms;
            animation-name: fb_bounce_out_from_left;
            transition-timing-function: ease-in
        }

        .fb_invisible_flow {
            display: inherit;
            height: 0;
            overflow-x: hidden;
            width: 0
        }

        @@keyframes fb_mpn_landing_page_slide_out {
            0% {
                margin: 0 12px;
                width: 100% - 24px
            }

            60% {
                border-radius: 18px
            }

            100% {
                border-radius: 50%;
                margin: 0 24px;
                width: 60px
            }
        }

        @@keyframes fb_mpn_landing_page_slide_out_from_left {
            0% {
                left: 12px;
                width: 100% - 24px
            }

            60% {
                border-radius: 18px
            }

            100% {
                border-radius: 50%;
                left: 12px;
                width: 60px
            }
        }

        @@keyframes fb_mpn_landing_page_slide_up {
            0% {
                bottom: 0;
                opacity: 0
            }

            100% {
                bottom: 24px;
                opacity: 1
            }
        }

        @@keyframes fb_mpn_bounce_in {
            0% {
                opacity: .5;
                top: 100%
            }

            100% {
                opacity: 1;
                top: 0
            }
        }

        @@keyframes fb_mpn_fade_out {
            0% {
                bottom: 30px;
                opacity: 1
            }

            100% {
                bottom: 0;
                opacity: 0
            }
        }

        @@keyframes fb_mpn_bounce_out {
            0% {
                opacity: 1;
                top: 0
            }

            100% {
                opacity: .5;
                top: 100%
            }
        }

        @@keyframes fb_bounce_in_v2 {
            0% {
                opacity: 0;
                transform: scale(0, 0);
                transform-origin: bottom right
            }

            50% {
                transform: scale(1.03, 1.03);
                transform-origin: bottom right
            }

            100% {
                opacity: 1;
                transform: scale(1, 1);
                transform-origin: bottom right
            }
        }

        @@keyframes fb_bounce_in_from_left {
            0% {
                opacity: 0;
                transform: scale(0, 0);
                transform-origin: bottom left
            }

            50% {
                transform: scale(1.03, 1.03);
                transform-origin: bottom left
            }

            100% {
                opacity: 1;
                transform: scale(1, 1);
                transform-origin: bottom left
            }
        }

        @@keyframes fb_bounce_out_v2 {
            0% {
                opacity: 1;
                transform: scale(1, 1);
                transform-origin: bottom right
            }

            100% {
                opacity: 0;
                transform: scale(0, 0);
                transform-origin: bottom right
            }
        }

        @@keyframes fb_bounce_out_from_left {
            0% {
                opacity: 1;
                transform: scale(1, 1);
                transform-origin: bottom left
            }

            100% {
                opacity: 0;
                transform: scale(0, 0);
                transform-origin: bottom left
            }
        }

        @@keyframes slideInFromBottom {
            0% {
                opacity: .1;
                transform: translateY(100%)
            }

            100% {
                opacity: 1;
                transform: translateY(0)
            }
        }

        @@keyframes slideInFromBottomDelay {
            0% {
                opacity: 0;
                transform: translateY(100%)
            }

            97% {
                opacity: 0;
                transform: translateY(100%)
            }

            100% {
                opacity: 1;
                transform: translateY(0)
            }
        }
    </style>
</head>
<body class="home page-template page-template-page-blank page-template-page-blank-php page page-id-16 woocommerce-js lightbox nav-dropdown-has-arrow">


    <a class="skip-link screen-reader-text" href="#">Skip to content</a>

    <div id="wrapper">

        @await Component.InvokeAsync("Menu")




        @RenderBody()
        @await Component.InvokeAsync("Footer")
        <!-- .footer-wrapper -->

    </div><!-- #wrapper -->
    <!-- Mobile Sidebar -->
    <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
        <div class="sidebar-menu no-scrollbar ">
            <ul class="nav nav-sidebar  nav-vertical nav-uppercase">
                <li class="header-search-form search-form html relative has-icon">
                    <div class="header-search-form-wrapper">
                        <div class="searchform-wrapper ux-search-box relative is-normal">
                            <form role="search" method="get" class="searchform" action="#">
                                <div class="flex-row relative">
                                    <div class="flex-col flex-grow">
                                        <input type="search" class="search-field mb-0" name="s" value="" placeholder="Tìm kiếm…" autocomplete="off">
                                        <input type="hidden" name="post_type" value="product">
                                    </div><!-- .flex-col -->
                                    <div class="flex-col">
                                        <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
                                            <i class="icon-search"></i>
                                        </button>
                                    </div><!-- .flex-col -->
                                </div><!-- .flex-row -->
                                <div class="live-search-results text-left z-top"><div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div></div>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-16 current_page_item menu-item-24"><a href="#" class="nav-top-link"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="#" class="nav-top-link">Giới thiệu</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-593 has-child" aria-expanded="false">
                    <a href="#" class="nav-top-link">Chuyển đổi kinh doanh</a>
                    <button class="toggle"><i class="icon-angle-down"></i></button><ul class="children">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-627"><a href="#">Quản lý chương trình</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-629"><a href="#">Triển khai ERP</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-636 has-child" aria-expanded="false">
                    <a href="#" class="nav-top-link">Tư vấn tiếp thị &amp; thương hiệu</a>
                    <button class="toggle"><i class="icon-angle-down"></i></button><ul class="children">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-639"><a href="#">Nghiên cứu thị trường VN</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-640"><a href="#">Tư vấn đầu tư VN</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-643"><a href="#">Đại diện thương mại EU cho doanh nghiệp VN</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-645"><a href="#">Tư vấn đồng bộ hóa thương hiệu</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-617"><a href="#" class="nav-top-link">Tư vấn đầu tư cổ phần VN</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-675"><a href="#" class="nav-top-link">Tin tức</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="#" class="nav-top-link">Liên hệ</a></li>
                <li class="account-item has-icon menu-item">
                    <a href="#" class="nav-top-link nav-top-not-logged-in">
                        <span class="header-account-title">
                            Đăng nhập
                        </span>
                    </a><!-- .account-login-link -->

                </li>
                <li class="html header-social-icons ml-0">
                    <div class="social-icons follow-icons"><a href="#" target="_blank" data-label="Facebook" rel="noopener noreferrer nofollow" class="icon button circle is-outline facebook tooltip tooltipstered"><i class="icon-facebook"></i></a><a href="#" target="_blank" data-label="Twitter" rel="noopener noreferrer nofollow" class="icon button circle is-outline  twitter tooltip tooltipstered"><i class="icon-twitter"></i></a><a href="#" target="_blank" rel="noopener noreferrer nofollow" data-label="Google+" class="icon button circle is-outline  google-plus tooltip tooltipstered"><i class="icon-google-plus"></i></a><a href="#" target="_blank" rel="noopener noreferrer nofollow" data-label="LinkedIn" class="icon button circle is-outline  linkedin tooltip tooltipstered"><i class="icon-linkedin"></i></a></div>
                </li>
            </ul>
        </div><!-- inner -->
    </div><!-- #mobile-menu -->
    <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End FB Messenger -->
    <div id="login-form-popup" class="lightbox-content mfp-hide">
        <div class="woocommerce-notices-wrapper"></div>
        <div class="account-container lightbox-inner">


            @*<div class="account-login-inner">

                <h3 class="uppercase">Đăng nhập</h3>

                <form class="woocommerce-form woocommerce-form-login login" method="post">


                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="username">Tên tài khoản hoặc địa chỉ email&nbsp;<span class="required">*</span></label>
                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" value="">
                    </p>
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="password">Mật khẩu&nbsp;<span class="required">*</span></label>
                        <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password">
                    </p>


                    <p class="form-row">
                        <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="46024a88f1"><input type="hidden" name="_wp_http_referer" value="/yttran/?fbclid=IwAR0wSyT30hSRo3hD7GyK8JvFvRPrP0JmIjOUL7OpxK7lHRKCYjLN2__KUgc">					<button type="submit" class="woocommerce-Button button" name="login" value="Đăng nhập">Đăng nhập</button>
                        <label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                            <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Ghi nhớ mật khẩu</span>
                        </label>
                    </p>
                    <p class="woocommerce-LostPassword lost_password">
                        <a href="#">Quên mật khẩu?</a>
                    </p>


                </form>
            </div>*@<!-- .login-inner -->


        </div><!-- .account-login-container -->

    </div>
    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script type="text/javascript">
        /* <![CDATA[ */
        //var wpcf7 = { "apiSettings": { "root": "http:\/\/mauweb.monamedia.net\/yttran\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "recaptcha": { "messages": { "empty": "H\u00e3y x\u00e1c nh\u1eadn r\u1eb1ng b\u1ea1n kh\u00f4ng ph\u1ea3i l\u00e0 robot." } } };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/User/Js/scripts.js"></script>
    <script type="text/javascript" src="~/User/Js/index.js"></script>
    <script type="text/javascript" src="~/User/Js/ot-vertical-menu.js"></script>
    <script type="text/javascript" src="~/User/Js/jquery.blockUI.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        //var wc_add_to_cart_params = { "ajax_url": "\/yttran\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/yttran\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "Xem gi\u1ecf h\u00e0ng", "cart_url": "http:\/\/mauweb.monamedia.net\/yttran\/gio-hang\/", "is_cart": "", "cart_redirect_after_add": "no" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/User/Js/add-to-cart.min.js"></script>
    <script type="text/javascript" src="~/User/Js/js.cookie.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/yttran\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/yttran\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/User/Js/woocommerce.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        //var wc_cart_fragments_params = { "ajax_url": "\/yttran\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/yttran\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_2be9bbd5cce99abd20f715a5f4040cb0", "fragment_name": "wc_fragments_2be9bbd5cce99abd20f715a5f4040cb0" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/User/Js/cart-fragments.min.js"></script>
    <script type="text/javascript" src="~/User/Js/flatsome-live-search.js"></script>
    <script type="text/javascript" src="~/User/Js/hoverIntent.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var flatsomeVars = { "ajaxurl": "http:\/\/mauweb.monamedia.net\/yttran\/wp-admin\/admin-ajax.php", "rtl": "", "sticky_height": "70", "user": { "can_edit_pages": false } };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/User/Js/flatsome.js"></script>
    <script type="text/javascript" src="~/User/Js/woocommerce.js"></script>
    <script type="text/javascript" src="~/User/Js/wp-embed.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var _zxcvbnSettings = { "src": "http:\/\/mauweb.monamedia.net\/yttran\/wp-includes\/js\/zxcvbn.min.js" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/User/Js/zxcvbn-async.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var pwsL10n = { "unknown": "M\u1eadt kh\u1ea9u m\u1ea1nh kh\u00f4ng x\u00e1c \u0111\u1ecbnh", "short": "R\u1ea5t y\u1ebfu", "bad": "Y\u1ebfu", "good": "Trung b\u00ecnh", "strong": "M\u1ea1nh", "mismatch": "M\u1eadt kh\u1ea9u kh\u00f4ng kh\u1edbp" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/User/Js/password-strength-meter.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        //var wc_password_strength_meter_params = { "min_password_strength": "3", "i18n_password_error": "Vui l\u00f2ng nh\u1eadp m\u1eadt kh\u1ea9u kh\u00f3 h\u01a1n.", "i18n_password_hint": "G\u1ee3i \u00fd: M\u1eadt kh\u1ea9u ph\u1ea3i c\u00f3 \u00edt nh\u1ea5t 12 k\u00fd t\u1ef1. \u0110\u1ec3 n\u00e2ng cao \u0111\u1ed9 b\u1ea3o m\u1eadt, s\u1eed d\u1ee5ng ch\u1eef in hoa, in th\u01b0\u1eddng, ch\u1eef s\u1ed1 v\u00e0 c\u00e1c k\u00fd t\u1ef1 \u0111\u1eb7c bi\u1ec7t nh\u01b0 ! \" ? $ % ^ & )." };
        /* ]]> */
    </script>
    <script type="text/javascript" src="~/User/Js/password-strength-meter(1).min.js"></script>
    <style type="text/css"></style>
    <script type="text/javascript">var essb_clicked_lovethis = false; var essb_love_you_message_thanks = "Thank you for loving this."; var essb_love_you_message_loved = "You already love this today."; var essb_lovethis = function (oInstance) { if (essb_clicked_lovethis) { alert(essb_love_you_message_loved); return; } var element = jQuery('.essb_' + oInstance); if (!element.length) { return; } var instance_post_id = jQuery(element).attr("data-essb-postid") || ""; var cookie_set = essb_get_lovecookie("essb_love_" + instance_post_id); if (cookie_set) { alert(essb_love_you_message_loved); return; } if (typeof (essb_settings) != "undefined") { jQuery.post(essb_settings.ajax_url, { 'action': 'essb_love_action', 'post_id': instance_post_id, 'service': 'love', 'nonce': essb_settings.essb3_nonce }, function (data) { if (data) { alert(essb_love_you_message_thanks); } }, 'json'); } essb_tracking_only('', 'love', oInstance, true); }; var essb_get_lovecookie = function (name) { var value = "; " + document.cookie; var parts = value.split("; " + name + "="); if (parts.length == 2) return parts.pop().split(";").shift(); }; var essb_window = function (oUrl, oService, oInstance) { var element = jQuery('.essb_' + oInstance); var instance_post_id = jQuery(element).attr("data-essb-postid") || ""; var instance_position = jQuery(element).attr("data-essb-position") || ""; var wnd; var w = 800; var h = 500; if (oService == "twitter") { w = 500; h = 300; } var left = (screen.width / 2) - (w / 2); var top = (screen.height / 2) - (h / 2); if (oService == "twitter") { wnd = window.open(oUrl, "essb_share_window", "height=300,width=500,resizable=1,scrollbars=yes,top=" + top + ",left=" + left); } else { wnd = window.open(oUrl, "essb_share_window", "height=500,width=800,resizable=1,scrollbars=yes,top=" + top + ",left=" + left); } if (typeof (essb_settings) != "undefined") { if (essb_settings.essb3_stats) { if (typeof (essb_handle_stats) != "undefined") { essb_handle_stats(oService, instance_post_id, oInstance); } } if (essb_settings.essb3_ga) { essb_ga_tracking(oService, oUrl, instance_position); } } essb_self_postcount(oService, instance_post_id); var pollTimer = window.setInterval(function () { if (wnd.closed !== false) { window.clearInterval(pollTimer); essb_smart_onclose_events(oService, instance_post_id); } }, 200); }; var essb_self_postcount = function (oService, oCountID) { if (typeof (essb_settings) != "undefined") { oCountID = String(oCountID); jQuery.post(essb_settings.ajax_url, { 'action': 'essb_self_postcount', 'post_id': oCountID, 'service': oService, 'nonce': essb_settings.essb3_nonce }, function (data) { if (data) { } }, 'json'); } }; var essb_smart_onclose_events = function (oService, oPostID) { if (typeof (essbasc_popup_show) == 'function') { essbasc_popup_show(); } if (typeof essb_acs_code == 'function') { essb_acs_code(oService, oPostID); } }; var essb_tracking_only = function (oUrl, oService, oInstance, oAfterShare) { var element = jQuery('.essb_' + oInstance); if (oUrl == "") { oUrl = document.URL; } var instance_post_id = jQuery(element).attr("data-essb-postid") || ""; var instance_position = jQuery(element).attr("data-essb-position") || ""; if (typeof (essb_settings) != "undefined") { if (essb_settings.essb3_stats) { if (typeof (essb_handle_stats) != "undefined") { essb_handle_stats(oService, instance_post_id, oInstance); } } if (essb_settings.essb3_ga) { essb_ga_tracking(oService, oUrl, instance_position); } } essb_self_postcount(oService, instance_post_id); if (oAfterShare) { essb_smart_onclose_events(oService, instance_post_id); } }; var essb_pinterest_picker = function (oInstance) { essb_tracking_only('', 'pinterest', oInstance); var e = document.createElement('script'); e.setAttribute('type', 'text/javascript'); e.setAttribute('charset', 'UTF-8'); e.setAttribute('src', '//assets.pinterest.com/js/pinmarklet.js?r=' + Math.random() * 99999999); document.body.appendChild(e); };</script>


    <div class="remodal-overlay remodal-is-closed" style="display: none;"></div><div class="remodal-wrapper remodal-is-closed" style="display: none;">
        <div class="remodal remodal-is-initialized remodal-is-closed" data-remodal-id="fb-messenger" tabindex="-1">
            <div class="fb-page fb_iframe_widget" data-tabs="messages" data-href="" data-width="310" data-height="330" data-small-header="true" data-hide-cover="false" data-show-facepile="true" data-adapt-container-width="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=0&amp;height=330&amp;hide_cover=false&amp;href=&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;tabs=messages&amp;width=310"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f215e96166ca81c" width="310px" height="330px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./YTTran_files/page.html" style="border: none; visibility: visible; width: 0px; height: 0px;"></iframe></span></div>
        </div>
    </div>
</body>
</html>