
@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Userlayout.cshtml";
}
<main id="main" class="">


    <div class="page-wrapper page-left-sidebar">
        <div class="row">

            <div id="content" class="large-9 right col" role="main">
                <div class="page-inner">

                    <div id="page-header-1419741109" class="page-header-wrapper">
                        <div class="page-title dark featured-title">

                            <div class="page-title-bg">
                                <div class="title-bg fill bg-fill parallax-active" data-parallax-container=".page-title" data-parallax-background="" data-parallax="-">
                                </div>
                                <div class="title-overlay fill"></div>
                            </div>

                            <div class="page-title-inner container align-center text-center flex-row-col medium-flex-wrap">
                                <div class="title-wrapper uppercase flex-col">
                                    <h1 class="entry-title mb-0">
                                        Tin tức
                                    </h1>
                                </div>
                                <div class="title-content flex-col">
                                    <div class="title-breadcrumbs pb-half pt-half"><nav class="woocommerce-breadcrumb breadcrumbs"><a href="#">Trang chủ</a> <span class="divider">/</span> Tin tức</nav></div>
                                </div>
                            </div><!-- flex-row -->


                            <style scope="scope">

                                #page-header-1419741109 .page-title-inner {
                                    min-height: 180px;
                                }

                                #page-header-1419741109 .title-bg {
                                    background-image: url(/User/Images/bggioithieupage.jpg);
                                }

                                #page-header-1419741109 .title-overlay {
                                    background-color: rgba(0, 0, 0, 0.3);
                                }
                            </style>
                        </div><!-- .page-title -->
                    </div><!-- .page-header-wrapper -->

                    <section class="section sec_news" id="section_1096213249">
                        <div class="bg section-bg fill bg-fill  bg-loaded">





                        </div><!-- .section-bg -->

                        <div class="section-content relative">

                            <div class="gap-element clearfix" style="display:block; height:auto; padding-top:50px"></div>
                            <div class="row row-collapse row-full-width" id="row-246484612">
                                <div class="col small-12 large-12" data-animate="flipInY" data-animated="true">
                                    <div class="col-inner" style="margin:0px 0px -20px 0px;">


                                        <div class="row large-columns-3 medium-columns-2 small-columns-1">
                                            <div class="col post-item">
                                                <div class="col-inner">
                                                    <a href=#" class="plain">
                                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                                            <div class="box-image">
                                                                <div class="image-zoom image-cover" style="padding-top:56.25%;">
                                                                    <img width="650" height="406" src="/User/Images/news-7.jpg" class="attachment-original size-original wp-post-image" alt="" sizes="(max-width: 650px) 100vw, 650px">
                                                                </div>
                                                            </div><!-- .box-image -->
                                                            <div class="box-text text-left">
                                                                <div class="box-text-inner blog-post-inner">


                                                                    <h5 class="post-title is-large ">E-logistics – Yếu tố làm nên sự khác biệt trong ngành thương mại điện tử Việt Nam</h5>
                                                                    <div class="is-divider"></div>
                                                                    <p class="from_the_blog_excerpt ">Sớm nhận thấy doanh nghiệp khó có thể phát triển bền vững nếu chỉ giới ...					</p>



                                                                </div><!-- .box-text-inner -->
                                                            </div><!-- .box-text -->
                                                        </div><!-- .box -->
                                                    </a><!-- .link -->
                                                </div><!-- .col-inner -->
                                            </div><!-- .col -->
                                            <div class="col post-item">
                                                <div class="col-inner">
                                                    <a href="#" class="plain">
                                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                                            <div class="box-image">
                                                                <div class="image-zoom image-cover" style="padding-top:56.25%;">
                                                                    <img width="536" height="336" src="/User/Images/news-6.jpg" class="attachment-original size-original wp-post-image" alt="" " sizes="(max-width: 536px) 100vw, 536px">
                                                                </div>
                                                            </div><!-- .box-image -->
                                                            <div class="box-text text-left">
                                                                <div class="box-text-inner blog-post-inner">


                                                                    <h5 class="post-title is-large ">“Cái bắt tay” làm thay đổi thị trường vận chuyển Việt Nam</h5>
                                                                    <div class="is-divider"></div>
                                                                    <p class="from_the_blog_excerpt ">19/03/2019, tại Nhà máy Tracomeco đã diễn ra lễ ký kết hợp tác toàn diện ...					</p>



                                                                </div><!-- .box-text-inner -->
                                                            </div><!-- .box-text -->
                                                        </div><!-- .box -->
                                                    </a><!-- .link -->
                                                </div><!-- .col-inner -->
                                            </div><!-- .col -->
                                            <div class="col post-item">
                                                <div class="col-inner">
                                                    <a href="#" class="plain">
                                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                                            <div class="box-image">
                                                                <div class="image-zoom image-cover" style="padding-top:56.25%;">
                                                                    <img width="650" height="406" src="/User/Images/news-5.jpg" class="attachment-original size-original wp-post-image" alt=""  sizes="(max-width: 650px) 100vw, 650px">
                                                                </div>
                                                            </div><!-- .box-image -->
                                                            <div class="box-text text-left">
                                                                <div class="box-text-inner blog-post-inner">


                                                                    <h5 class="post-title is-large ">Ông Trần Kinh Doanh được bổ nhiệm vào vị trí Tổng giám đốc Thế giới Di động (MWG)</h5>
                                                                    <div class="is-divider"></div>
                                                                    <p class="from_the_blog_excerpt ">Trước đó, tại họp ĐHĐCĐ thường niên 2019, cổ đông đã thông qua việc ông ...					</p>



                                                                </div><!-- .box-text-inner -->
                                                            </div><!-- .box-text -->
                                                        </div><!-- .box -->
                                                    </a><!-- .link -->
                                                </div><!-- .col-inner -->
                                            </div><!-- .col -->
                                            <div class="col post-item">
                                                <div class="col-inner">
                                                    <a href="#" class="plain">
                                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                                            <div class="box-image">
                                                                <div class="image-zoom image-cover" style="padding-top:56.25%;">
                                                                    <img width="650" height="406" src="/User/Images/news-4.jpg" class="attachment-original size-original wp-post-image" alt=""  sizes="(max-width: 650px) 100vw, 650px">
                                                                </div>
                                                            </div><!-- .box-image -->
                                                            <div class="box-text text-left">
                                                                <div class="box-text-inner blog-post-inner">


                                                                    <h5 class="post-title is-large ">Thực phẩm Sao Ta (FMC) đặt kế hoạch lãi 180 tỷ đồng năm 2019</h5>
                                                                    <div class="is-divider"></div>
                                                                    <p class="from_the_blog_excerpt ">Năm 2019 cũng là năm đầu tiên Thực phẩm Sao Ta hoàn tất chuyển đổi ...					</p>



                                                                </div><!-- .box-text-inner -->
                                                            </div><!-- .box-text -->
                                                        </div><!-- .box -->
                                                    </a><!-- .link -->
                                                </div><!-- .col-inner -->
                                            </div><!-- .col -->
                                            <div class="col post-item">
                                                <div class="col-inner">
                                                    <a href="#" class="plain">
                                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                                            <div class="box-image">
                                                                <div class="image-zoom image-cover" style="padding-top:56.25%;">
                                                                    <img width="650" height="433" src="/User/Images/news-3.jpg" class="attachment-original size-original wp-post-image" alt="" sizes="(max-width: 650px) 100vw, 650px">
                                                                </div>
                                                            </div><!-- .box-image -->
                                                            <div class="box-text text-left">
                                                                <div class="box-text-inner blog-post-inner">


                                                                    <h5 class="post-title is-large ">Người Nhật hài lòng với chất lượng sản phẩm cửa Galaxy Door</h5>
                                                                    <div class="is-divider"></div>
                                                                    <p class="from_the_blog_excerpt ">“Chúng tôi mong muốn được hợp tác và cùng phát triển cùng Công ty Galaxy ...					</p>



                                                                </div><!-- .box-text-inner -->
                                                            </div><!-- .box-text -->
                                                        </div><!-- .box -->
                                                    </a><!-- .link -->
                                                </div><!-- .col-inner -->
                                            </div><!-- .col -->
                                            <div class="col post-item">
                                                <div class="col-inner">
                                                    <a href="#" class="plain">
                                                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                                            <div class="box-image">
                                                                <div class="image-zoom image-cover" style="padding-top:56.25%;">
                                                                    <img width="650" height="406" src="/User/Images/news-2.jpg" class="attachment-original size-original wp-post-image" alt="" sizes="(max-width: 650px) 100vw, 650px">
                                                                </div>
                                                            </div><!-- .box-image -->
                                                            <div class="box-text text-left">
                                                                <div class="box-text-inner blog-post-inner">


                                                                    <h5 class="post-title is-large ">Wan Hai Lines vừa chi gần 400 tỷ đồng để sở hữu 20% cổ phần Cảng Đà Nẵng</h5>
                                                                    <div class="is-divider"></div>
                                                                    <p class="from_the_blog_excerpt ">Hiện có 2 cổ đông lớn của Cảng Đà Nẵng vừa bán cáo bán hết ...					</p>



                                                                </div><!-- .box-text-inner -->
                                                            </div><!-- .box-text -->
                                                        </div><!-- .box -->
                                                    </a><!-- .link -->
                                                </div><!-- .col-inner -->
                                            </div><!-- .col -->
                                        </div>
                                    </div>
                                </div>

                                <style scope="scope">
                                </style>
                            </div>
                        </div><!-- .section-content -->


                        <style scope="scope">

                            #section_1096213249 {
                                padding-top: 0px;
                                padding-bottom: 0px;
                            }
                        </style>
                    </section>



                </div><!-- .page-inner -->
            </div><!-- end #content large-9 left -->

            <div class="large-3 col col-first col-divided">
                <div id="secondary" class="widget-area " role="complementary">
                    <aside id="search-2" class="widget widget_search">
                        <form method="get" class="searchform" action="#" role="search">
                            <div class="flex-row relative">
                                <div class="flex-col flex-grow">
                                    <input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Tìm kiếm…" autocomplete="off">
                                </div><!-- .flex-col -->
                                <div class="flex-col">
                                    <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
                                        <i class="icon-search"></i>
                                    </button>
                                </div><!-- .flex-col -->
                            </div><!-- .flex-row -->
                            <div class="live-search-results text-left z-top"><div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div></div>
                        </form>
                    </aside>		<aside id="flatsome_recent_posts-4" class="widget flatsome_recent_posts">
                        <span class="widget-title "><span>Bài viết mới</span></span><div class="is-divider small"></div>		<ul>

                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date  badge-circle">
                                            <div class="badge-inner bg-fill" style="background: url(/User/Images/news-7-150x150.jpg); border: 0;">
                                            </div>
                                        </div>
                                    </div><!-- .flex-col -->
                                    <div class="flex-col flex-grow">
                                        <a href="#" title="E-logistics – Yếu tố làm nên sự khác biệt trong ngành thương mại điện tử Việt Nam">E-logistics – Yếu tố làm nên sự khác biệt trong ngành thương mại điện tử Việt Nam</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="#"></a></span>
                                    </div>
                                </div><!-- .flex-row -->
                            </li>


                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date  badge-circle">
                                            <div class="badge-inner bg-fill" style="background: url(/User/Images/news-6-150x150.jpg); border: 0;">
                                            </div>
                                        </div>
                                    </div><!-- .flex-col -->
                                    <div class="flex-col flex-grow">
                                        <a href="#" title="“Cái bắt tay” làm thay đổi thị trường vận chuyển Việt Nam">“Cái bắt tay” làm thay đổi thị trường vận chuyển Việt Nam</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="#"></a></span>
                                    </div>
                                </div><!-- .flex-row -->
                            </li>


                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date  badge-circle">
                                            <div class="badge-inner bg-fill" style="background: url(/User/Images/news-5-150x150.jpg); border: 0;">
                                            </div>
                                        </div>
                                    </div><!-- .flex-col -->
                                    <div class="flex-col flex-grow">
                                        <a href="#" title="Ông Trần Kinh Doanh được bổ nhiệm vào vị trí Tổng giám đốc Thế giới Di động (MWG)">Ông Trần Kinh Doanh được bổ nhiệm vào vị trí Tổng giám đốc Thế giới Di động (MWG)</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="#"></a></span>
                                    </div>
                                </div><!-- .flex-row -->
                            </li>


                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date  badge-circle">
                                            <div class="badge-inner bg-fill" style="background: url(/User/Images/news-4-150x150.jpg); border: 0;">
                                            </div>
                                        </div>
                                    </div><!-- .flex-col -->
                                    <div class="flex-col flex-grow">
                                        <a href="#" title="Thực phẩm Sao Ta (FMC) đặt kế hoạch lãi 180 tỷ đồng năm 2019">Thực phẩm Sao Ta (FMC) đặt kế hoạch lãi 180 tỷ đồng năm 2019</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="#"></a></span>
                                    </div>
                                </div><!-- .flex-row -->
                            </li>


                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date  badge-circle">
                                            <div class="badge-inner bg-fill" style="background: url(/User/Images/news-3-150x150.jpg); border: 0;">
                                            </div>
                                        </div>
                                    </div><!-- .flex-col -->
                                    <div class="flex-col flex-grow">
                                        <a href="#" title="Người Nhật hài lòng với chất lượng sản phẩm cửa Galaxy Door">Người Nhật hài lòng với chất lượng sản phẩm cửa Galaxy Door</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="#"></a></span>
                                    </div>
                                </div><!-- .flex-row -->
                            </li>
                        </ul>
                    </aside>
                </div><!-- #secondary -->
            </div><!-- end sidebar -->

        </div><!-- end row -->
    </div><!-- end page-right-sidebar container -->




</main>
