@model Yttran.Models.Contact

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.Phonenumber" class="control-label">Phonenumber</label>
                <input asp-for="Contact.Phonenumber" name="Phonenumber" class="form-control" />
                <span asp-validation-for="Contact.Phonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Address" class="control-label">Address</label>
                <input asp-for="Contact.Address" name="Address" class="form-control" />
                <span asp-validation-for="Contact.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label">Email</label>
                <input asp-for="Contact.Email" name="Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Name" class="control-label">Name</label>
                <input asp-for="Contact.Name" name="Name" class="form-control" />
                <span asp-validation-for="Contact.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Admin/Contacts/Index">Back to List</a>
</div>

