@model Yttran.Models.Account

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Account.Id" />
            <div class="form-group">
                <label asp-for="Account.UsrerName" class="control-label"> User name</label>
                <input value="@Model.UsrerName" asp-for="Account.UsrerName" name="UsrerName" class="form-control" />
                <span asp-validation-for="Account.UsrerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label">Password</label>
                <input value="@Model.Password" asp-for="Account.Password" name="Password" class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Account.CreateDate" class="control-label"></label>
                <input asp-for="Account.CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Admin/Accounts/Index">Back to List</a>
</div>

