@model Yttran.Models.ServiceDetail

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Create</h1>

<h4>ServiceDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" , method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceDetail.MenuId" class="control-label">MenuId</label>
                <select asp-for="ServiceDetail.MenuId" name="MenuId" class="form-control" asp-items="ViewBag.MenuId">
                    @foreach (var item in ViewBag.Menus)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceDetail.Detail" class="control-label">Detail</label>
                <input asp-for="ServiceDetail.Detail" name="Detail" class="form-control" />
                <span asp-validation-for="ServiceDetail.Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Admin/ServiceDetails/Index">Back to List</a>
</div>

